<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipes Management</title>
</head>
<body>
<h1>Recipes</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
    </tr>
    <!--The variable all recipies passed here are a list or a set of objects
    that are being iterated one at a time. Since this is a list of objects.
    Each object can have access to individual properties fo their own.
    For properties look at Recipe under repositories package.-->

    <tr th:each="recipe : ${AllRecipes}">
        <td th:text="${recipe.id}">123</td>
        <td th:text="${recipe.description}">Dish Information</td>
    </tr>
</table>
</body>
</html>